In [1]:
%load_ext autoreload
%autoreload 2

import obsidiantools
import obsidiantools.api as otools
import os
import pathlib
import obsfeatures

vault_path = pathlib.Path(os.path.expanduser("~/kb"))
print(vault_path)
vault = otools.Vault(vault_path).connect()

/Users/taivo/kb

In [2]:
commitment = obsfeatures.Note.from_path("Commitment", vault_path / "Commitment.md")
daily1 = obsfeatures.Note.from_path("2021-08-17", vault_path / "2021-08-17.md")

In [3]:
obsfeatures.is_daily(commitment)

False

In [4]:
notes = [obsfeatures.Note.from_path(name, vault_path / p) for name, p in vault.file_index.items()]

In [5]:
notes[0].plaintext

"Thinking of Hektor, the office situation, and how I might minimise cost while still getting decent coffee. I wonder if I should give up the office... Laur doesn't seem to want to be there anyway.\n\nI could indeed save 240€ a month if not using the office... but would I be giving up some optionality value? * ask Laur * email Juri that I wanna end with August\n\n* * *\n\nDiffuse mode * [[Self-authoring exercises]] * Weight * proprotein * what kaisa imagines our roles will be, vs what they realistically would be * what would be a non-Kaisa alternative world * [[Writing]] and publishing it on blog/newsletter/Linkedin -- currently not doing it at all * [x] Do 2 pomodoros today * Do I want to become the coach for Exclusive's teams next season? * Hambaarsti juures peaks kontrollis käima * [x] Testing hemoglobin again * [x] Tibukesed parking permit update -- when? * [x] glass/ceramics workshop -- when will we do it with Jane?\n\n* * *\n\n[[Post - diffuse mode]]\n\n* * *\n\nWhat we need to figure out * How to iterate faster in the lab * How could we get our own casein-producing yeast strain (quickly)\n"

In [6]:
df = obsfeatures.get_notes_individual_df(notes)
df.head()

,name,name_n_char,name_n_words,plaintext_n_char,plaintext_n_words,is_daily
0,2021-08-11,10,1,1096,201,False
1,2021-07-28,10,1,40,4,False
2,Writing MOC,11,2,530,84,False
3,Pleasure-pain driven values (Level 1),37,5,1018,164,False
4,2021-08-25,10,1,555,90,False

In [7]:
import search

q = notes[60]
print(q.name)
obsfeatures.jaccard_coefficients(q, vault.graph).sort_values("jaccard", ascending=False)

You can directly practice no-self

                                                  name   jaccard
274  Some things can only be learned through first-...  0.400000
414                                         2021-05-23  0.200000
535                         Consciousness can be split  0.200000
375                                    Feeling of self  0.166667
169      Being looked at amplifies the feeling of self  0.166667
..                                                 ...       ...
181                                   Biotech platform  0.000000
180                                  Asperger syndrome  0.000000
179                                              Pivot  0.000000
178                                    internal critic  0.000000
557                                         2021-08-23  0.000000

[558 rows x 2 columns]